.formControl {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3rem 0;
  font-size: var(--font-size-300);
  line-height: initial;

  input,
  textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    font: inherit;
    border: none;
    border-bottom: 2px solid #657786;
    background: #f5f8fa;
    padding: 1rem 0.5rem;

    &:focus,
    &:not(:placeholder-shown) {
      outline: none;
      border-bottom: 2px solid var(--color-mixed-200);
      ~ label {
        top: -18px;
      }
    }

    &:hover {
      border-bottom: 2px solid var(--color-mixed-200);
    }
  }

  p {
    display: inline;
  }

  label {
    position: absolute;
    top: 24px;
    left: 0;
    transform: translateY(-50%);
    padding: 0.15rem 0.5rem;
    font-weight: 400;
    font-size: var(--font-size-200);
    color: var(--color-shades-800);
    transition: 0.3s;
  }

  &--invalid label,
  &--invalid p {
    color: var(--color-error-300);
  }

  &--invalid input,
  &--invalid textarea {
    border-bottom: 2px solid var(--color-error-300);
  }

  input {
    height: 54px;
    vertical-align: bottom;
  }
}

.inputInfo {
  display: flex;
  padding-top: 0.25rem;
  align-items: center;

  p,
  .textLength {
    font-size: var(--font-size-100);
  }
}
.textLength {
  color: var(--color-shades-800);
  font-size: var(--font-size-100);
  margin-left: auto;
}
