@use 'styles/abstracts' as *;

.modal {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem 0;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-400);
}

.headerWrapper {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  padding-bottom: 0.5rem;

  .closeIcon {
    position: relative;
    top: -0.125rem;
    max-width: 20px;
    cursor: pointer;

    svg {
      position: relative;
      top: 0.125em;
    }
    svg path {
      cursor: pointer;
      fill: var(--color-brand-300);
    }

    &:hover,
    &:active {
      svg path {
        fill: var(--color-brand-100);
      }
    }
  }
}

.mainContent {
  min-height: 25vh;
  min-height: 25svh;
}

.btn {
  font-size: var(--font-size-400);
  margin-right: 1rem;
  padding: 0.8rem 1rem;
  cursor: not-allowed;

  &:hover {
    background-color: var(--color-brand-100);
    cursor: pointer;
  }
}

.modalTitle {
  margin-left: 3rem;
}

.errorText {
  font-weight: 500;
  font-size: rem(15);
  color: var(--color-error-300);
  margin-right: rem(20);
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (min-width: 689px) {
  .modal {
    justify-content: space-between;
    height: unset;
    width: unset;
    padding: 0;
    top: 8%;
    min-width: 639px;
    max-width: 80vw;
    max-height: 90vh;
    border-radius: 16px;
  }

  .closeIconWrapper {
    padding: 1rem;
  }

  .mainContent {
    border-top: 1px solid #e6ecf0;
  }

  .mainContentDividerNone {
    border-top: none;
  }

  .btnWrapper {
    position: static;
    padding: 1rem;
    flex: 1;
    text-align: end;
  }
  .headerWrapper {
    padding: 1rem 2rem 0.5rem 2rem;
  }
}
