@use 'styles/abstracts' as *;

.adminMainContainer {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  margin-left: 0;
  border: 1px solid #e6ecf0;
}

@include mq(medium-screen) {
  .adminMainContainer {
    width: 939px;
  }
}
