// .container {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

@use 'styles/abstracts' as *;

.container {
  max-width: 90vw;
  display: flex;
  position: absolute;
}

.main {
  width: 70rem;
  height: 100vh;
  position: fixed;
  left: 14rem;
}

.navigation {
  margin-right: 3rem;
}

.header {
  width: 100%;
}

@include mq(large-screen) {
  .main {
    width: 100%;
    position: fixed;
    left: 20rem;
  }
}