$colors: (
  primary: (
    100: #3381ff,
    200: #1f75ff,
    300: #0062ff,
    400: #005ef5,
    500: #0056e0,
  ),
  secondary: (
    100: #878f97,
    200: #7c858d,
    300: #6c757d,
    400: #687178,
    500: #5f666d,
  ),
  success: (
    100: #66e1ab,
    200: #55dda2,
    300: #3dd598,
    400: #33d790,
    500: #28cc85,
  ),
  warning: (
    100: #ffd470,
    200: #ffce5c,
    300: #ffc542,
    400: #ffc233,
    500: #ffbc1f,
  ),
  error: (
    100: #fd8787,
    200: #fc7373,
    300: #fc5a5a,
    400: #fb4b4b,
    500: #fb3737,
  ),
  brand: (
    100: #ff8533,
    200: #ff781f,
    300: #ff6600,
    400: #f56200,
    500: #e05a00,
  ),
  mixed: (
    100: #ff974a,
    200: #50b5ff,
    300: #82c43c,
    400: #a461d8,
    500: #ff9ad5,
  ),
  shades: (
    100: #ffffff,
    200: #fafafb,
    300: #f1f1f5,
    400: #e2e2ea,
    500: #d5d5dc,
    600: #b5b5be,
    700: #92929d,
    800: #696974,
    900: #44444f,
    1000: #171725,
  ),
);
