@use 'styles/abstracts' as *;

.modalMainContent {
  display: flex;
  padding: 2rem;
  max-width: 600px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  line-height: 2rem;
  font-size: var(--font-size-400);
}

.editModal {
  padding: 0rem;
  max-width: unset;
}

.avatar {
  align-items: start;
  margin-right: 1rem;
}

.tweetPostContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: rem(720);
  gap: 1rem;
}

.spinner {
  margin: 50px auto;
  position: relative;
  top: 50%;
}
