@use 'styles/abstracts' as *;

.tweetPost {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  line-height: 2rem;
  font-size: var(--font-size-400);
}

.avatar {
  align-items: start;
  margin-right: 1rem;
}

.tweetPostContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: rem(720);
  gap: 1rem;
}

.tweetBtnContainer {
  flex: 1;
  text-align: end;
}

.tweetBtn {
  font-size: var(--font-size-300);
  padding: 0.25rem 1rem;
  cursor: not-allowed;

  &:hover {
    background-color: var(--color-brand-100);
    cursor: pointer;
  }
}

.divider {
  border: none;
  background-color: #e6ecf0;
  opacity: 0.5;
  height: 10px;
  margin-bottom: 0;
}

.errorText {
  font-weight: 500;
  font-size: rem(15);
  color: var(--color-error-300);
  margin-right: rem(20);
}
