@use 'styles/abstracts' as *;

.AdminCards{
  border: 1px solid #E6ECF0;
  min-height: 100vh;
  min-height: 100svh;
  width: 75rem;
  overflow: hidden;
}

.cardContainer {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
}

@include mq(small-medium-screen) {
  .cardContainer {
    width: 65%;
  }
}

@include mq(medium-screen) {
  .cardContainer {
    width: 80%;
  }
}

@include mq(large-screen) {
  .cardContainer {
    width: 94%;
  }
}