@use 'styles/abstracts' as *;

.adminNavigationContainter {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  height: 100svh;
  text-align: center;
  left: 5rem;
}

.adminNavLinksWrapper {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.logoWrapper {
  margin-top: 1rem;
}

.logo {
  margin-bottom: rem(32);
}

.logout {
  cursor: pointer;
  color: var(--color-shades-900);
  font-weight: 700;
  margin-bottom: 1rem;

  svg {
    height: 1.5em;
    width: 1.5em;

    path {
      stroke: var(--color-shades-900);
    }
  }
}

.logoutText {
  display: none;
}

@include mq(large-screen) {
  .adminNavigationContainter {
    width: rem(178);
    text-align: initial;
  }

  .logo {
    position: relative;
    top: -5px;
    left: -5px;
  }

  .logoWrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .logout {
    display: flex;
    padding-left: 1.2rem;

    svg {
      margin-right: 1rem;
      height: 1.25em;
      width: 1.25em;
    }
  }

  .logoutText {
    display: flex;
    align-items: center;
  }

  .navLinks {
    align-items: initial;
  }
}