.cardContainer {
  width: 15rem;
  height: 19rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.userInfo {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  position: absolute;
  bottom: 7.5rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  height: 6.25em;
  width: 6.25rem;
}

.avatar svg {
  height: 6.25rem;
  width: 6.25rem;
}

.userName {
  color: var(--color-shades-1000);
  font-size: var(--font-size-300);
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.userAccountName {
  color: var(--color-shades-600);
  font-size: var(--font-size-300);
  margin-bottom: 0.7rem;
}

.tweetsRelatedCount {
  svg {
    margin: 0 0.3rem 0;
  }
}

.tweetCount {
  margin-right: 0.8rem;
  font-size: var(--font-size-200);
}

.commentIcon svg {
  height: 3rem;
}

.likeCount {
  font-size: var(--font-size-200);
}

.followRelatedCount {
  margin: 1rem;
}

.followingCount {
  margin-right: 0.4rem;
}

.followerCount,
.followingCount{
  font-size: var(--font-size-200);
  color: var(--color-shades-900);
}

